<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moje zakładki</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
</head>
<body>
<div class="container-fluid container-fluid-bg"></div>

<div th:insert="fragments :: nav"></div>

<div class="container">

  <div class="row justify-content-end">

    <div class="col-7 content-container">
      <h1 class="mt-3 p-1">
        <small class="text-muted cursor-pointer" onclick="goBack()">< </small><small class="text-muted">Moje zakładki </small>
      </h1>

      <h5 class="text-center pt-3" th:if="${posts.size()} > 0">
        Wszystkich zakładek:
        <small class="text-muted" th:text="${posts.size()}"></small>
      </h5>

      <div th:if="${posts.size()} == 0" class="alert alert-success alert-dismissible fade show mt-3 border-none" role="alert">
        Nie masz jeszcze żadnych zakładek.
      </div>

      <div class="card mt-3 border-color-gray" th:each="post: ${posts}">
        <div class="card-body">
          <h5 class="card-title" th:text="'@' + ${post.getUser().getName()}"></h5>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${post.getCreatedDateAsString()}"></h6>
          <a th:href="|@{/post/}${post.getId()}|" class="text-muted">
            <p class="text-muted" th:text="${post.getText()}"></p>
          </a>
          <div class="row">
            <div class="col-3"><img class="post-stats" th:src="@{/img/comment.png}"> <span class="mr-3" th:text="${post.getComments().size()}"></span></div>
            <div class="col-3"><img class="post-stats" th:src="@{/img/heart.png}"> <span class="mr-3" th:text="${post.getHearts().size()}"></span></div>
            <div class="col-3"><img class="post-stats" th:src="@{/img/chart.png}"> <span class="mr-3" th:text="${post.getViews()}"></span></div>
            <div class="col-3"><img class="post-stats" th:src="@{/img/bookmarks.png}"> <span class="mr-3" th:text="${post.getBookmarks().size()}"></span></div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-4 content-container">
      <h1 class="display-6 mt-4 p-1 font-size-1-75rem">Popularne osoby</h1>

      <div class="card mt-3 border-color-gray" th:each="user: ${users}">
        <div class="card-body">
          <a th:href="|@{/profile/}${user.getId()}|" class="text-muted">
            <h5 class="card-title" th:text="'@' + ${user.getName()}"></h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted" th:text="'jest z nami od ' + ${user.getCreatedDateAsString()}"></h6>
          <img class="post-stats" th:src="@{/img/location.png}"/> <span class="mr-3" th:text="${user.getCountry()}"></span>
        </div>
      </div>

      <!-- Opcjonalne dla uzytku icons8 -->
      <div class="row justify-content-center mt-4">
        <div class="pt-4 pb-4 text-center border-top">
          <a target="_blank" class="mt-4" href="https://icons8.com">
            <img width="32" height="32" th:src="@{/img/icons8.png}"/></a> Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
      </div>

    </div>

  </div>

</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>